USE [TV Favorites]
GO
/****** Object:  Table [dbo].[WatchList]    Script Date: 4/25/2023 6:48:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WatchList](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NULL,
	[seriesId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_WatchList_Series]    Script Date: 4/25/2023 6:48:43 PM ******/
CREATE NONCLUSTERED INDEX [IX_WatchList_Series] ON [dbo].[WatchList]
(
	[seriesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[WatchList]  WITH CHECK ADD  CONSTRAINT [FK__WatchList__seriesId__5CD6CB2C] FOREIGN KEY([seriesId])
REFERENCES [dbo].[Series] ([id])
GO
ALTER TABLE [dbo].[WatchList] CHECK CONSTRAINT [FK__WatchList__seriesId__5CD6CB2C]
GO
ALTER TABLE [dbo].[WatchList]  WITH CHECK ADD  CONSTRAINT [FK__WatchList__userI__5CD6CB2B] FOREIGN KEY([userId])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[WatchList] CHECK CONSTRAINT [FK__WatchList__userI__5CD6CB2B]
GO
