<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TV_Favorites.Properties.Settings.TV_FavoritesConnectionString"
            connectionString="Data Source=LAPTOP-PQLC5KSC\SQLEXPRESS;Initial Catalog=&quot;TV Favorites&quot;;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>